<div class="wrapper">
  <br>
  <br>
  <br>
  <h1>I <span class="mega-octicon octicon-heart"></span> Peter </h1>
  <div id="investors">
    <br>
    <br>
    <input type="number" placeholder="Investment">
    <br>
    <br>
  </div>
  <br>
  <button type="button" onclick="calculateTotal()">Calculate Percentages</button>
  <button type="button" onclick="addInvestor()">Add Investment</button>
</div>
